<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Scraper Boi</title>
    
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
</head>
<body>
    <header>
        <nav>
          <div class="nav-wrapper">
            <a href="/" class="brand-logo">Logo</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="/saved">Saved Articles</a></li>
              <li><a href="/">Home</a></li>
              <li><a href="#" id='scrapeBtn'>Scrape Articles</a></li>
            </ul>
          </div>
        </nav>        
    </header>
    {{{ body }}}
    <!-- Compiled and minified JavaScript -->
    
    
</body>
</html>