<div class= 'container' id='jumboTron'>
  <div class ='valign-wrapper' >
    <h2 class = 'center-align'>Saved Articles</h2>
  </div>
</div>

<div class='container' id ='articleArea'>
</div>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<script src='/public/assets/javascript/utils/loadArticles.js'></script>
<script src='/public/assets/javascript/utils/handleClicks.js'></script>
<script src='/public/assets/javascript/saved.js'></script>
